<h3>Edit The Product</h3>
<form name="editProduct" novalidate>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>Id:</label>
            <label ng-model="Product.id">{{Product.id}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="Product.name" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>Description:</label>
            <textarea class="form-control" rows="4" ng-model="Product.description" ng-maxlength="80"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>Quantity:</label>
            <input type="number" class="form-control" ng-model="Product.quantity" required min="1" max="5" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="button" value="Save" class="btn" data-ng-click="save(editProduct.$valid)" ng-disabled="editProduct.$invalid" />
        </div>
    </div>
</form>