################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NodejsLearning/NodejsLearning/Zion.pubxml.user
/NodejsLearning/NodejsLearning/Zion.pubxml
/NodejsLearning/NodejsLearning/obj/Release
/NodejsLearning/NodejsLearning/bin
/NodejsLearning/.vs
/.vs
/NodejsLearning/NodejsLearning/node_modules
