<!-- <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>    
  </div> -->
  
<div class="container-fluid">    
    <app-header></app-header>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <router-outlet></router-outlet>
      </div>      
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button (click)="sendMsg()">Send Message</button>
      </div>
    </div>
    
  </div>


