<div class="row" >
    <div class="col-sm-3 col-md-4">
        <div class="panel card">
            <div class="card-block">
                <h2 class="card-title">Lights - interior</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>
                        <strong>Bed Room Tube</strong>
                        <span class="pull-right glyphicon glyphicon-off font-size-1_6 cursor-pointer" data-ng-click="SwitchTube()"></span>
                    </h5>
                </li>
                <li class="list-group-item">
                    <h5>
                        <strong>Bed Room Lamp</strong>
                        <span class="pull-right glyphicon glyphicon-off font-size-1_6 cursor-pointer"></span>
                    </h5>
                </li>
            </ul>
            <div class="card-block">
                <div>
                    <button data-action="all-on" type="button" class="btn btn-primary">All <strong>ON</strong></button>
                    <button data-action="all-off" type="button" class="btn btn-secondary">All <strong>OFF</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-4">
        <h2 class="card-title">Lights - exterior</h2>
        <div class="panel card">
            <div class="card-block">
                <h5 class="card-title">
                    <strong>Main Gate</strong>
                    <span class="pull-right glyphicon glyphicon-off font-size-1_6"></span>
                </h5>
            </div>
        </div>
        <div class="panel card">
            <div class="card-block">
                <h5 class="card-title">
                    <strong>Front Gate</strong>
                    <span class="pull-right glyphicon glyphicon-off font-size-1_6"></span>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-4">
        <div class="panel card">
            <div class="card-block">
                <h2 class="card-title">Others</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>
                        <strong>Air Conditioner</strong>
                        <span class="pull-right glyphicon glyphicon-off font-size-1_6"></span>
                    </h5>
                </li>
                <li class="list-group-item">
                    <h5>
                        <strong>Fan</strong>
                        <span class="pull-right glyphicon glyphicon-off font-size-1_6"></span>
                    </h5>
                </li>
            </ul>
            <div class="card-block">
                <div data-controls="switch-lights">
                    <button data-action="all-on" type="button" class="btn btn-primary ">All <strong>ON</strong></button>
                    <button data-action="all-off" type="button" class="btn btn-secondary ">All <strong>OFF</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
