<!DOCTYPE html>
<html lang="en" ng-app="MainModule">
<head>
    <meta charset="utf-8" />
    <base href="/">
    <!--<base href="http://raspberrypi/zion/">-->
    <title state-title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.css" rel="stylesheet" />
    <link href="./css/dashboard.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.5.0/angular-file-upload.js"></script>-->
    <script src="https://cdn.rawgit.com/riggerthegeek/ng-page-title/master/dist/ng-page-title.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Zion</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Home">Home</a></li>
                    <li><a href="ShowAll">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel card">
                            <h4 class="padding-left-10px">
                                <strong>Command Center</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div ui-view></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/angular-breadcrumb.js"></script>
    <!--<script src="./js/SocketClient.js"></script>-->
    <script src="./js/MainModule.js"></script>
    <script src="./js/ProductService.js"></script>
    <script src="./js/HomeService.js"></script>
    <script src="./js/HomeController.js"></script>
    <script src="./js/AddProductController.js"></script>
    <script src="./js/DeleteProductController.js"></script>
    <script src="./js/EditProductController.js"></script>
    <script src="./js/ShowProductsController.js"></script>
</body>
</html>